/**
Palette URL: http://paletton.com/#uid=51T0u0ko5seeDD+jNv7s1nZv1j5
*/
:root
{
    --primary-color: rgb(77, 160, 160);  /*rgb(0, 123, 255)*/
    --primary-hover-color: rgb(70, 145, 145);
    --primary-active-color: rgb(60, 129, 129);

    --primary-dark-color: rgb(67, 150, 160);
    --primary-dark-hover-color: rgb(60, 135, 145);
    --primary-dark-active-color: rgb(50, 119, 129);

    --bg-color: #fefefe;
    --box-bg-color: #fefefe;

    --text-color: #E9E9EA;
    --light-text-color: #424242;
    --light2-text-color: #5f5f5f;

    --highlighted-key-color: #e0313177;

    --white-key-color: #fdfdfd;
    --white-key-hover-color: #f0f0f0;
    --white-key-active-color: #d0d0d0;

    --black-key-color: #222222;
    --black-key-hover-color: #181818;
    --black-key-active-color: #020202;
}

::selection,
::-moz-selection {
    background: var(--primary-hover-color);
    color: #fefefe;
}

html
{
    height: 100%;
    width: 100%;
    background-color: #dddddd;
    color: var(--text-color);
    padding: 0% 19% 0% 19%;
    font-size: 18px;

    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    /*
    background: url('');
    background-repeat: no-repeat;
    background-size: cover;
    */
}

a,
input,
textarea,
button {
    transition: all 0.2s linear;
}

div 
{
    background-color: var(--bg-color);
}

footer
{
    color: var(--light-text-color);
    padding: 10px;
}

/*
Title link
*/
h1 > a
{
    color: var(--light-text-color);
    text-decoration: none;
}

.container-fluid
{
    box-shadow: 0px 0px 22px #a5a5a5;
}

/*
Override bootstrap defaults
*/
.btn
{
    font-weight: bold;
    border-radius: 0%;
}

.title 
{
    font-size: 59px;
}

.subtitle
{
    font-size: 40px;

    font-weight: bold;
    margin-bottom: 35px;
    padding-bottom: 10px;
    color: var(--light-text-color);
    border-bottom: 2px dotted var(--light-text-color);
}

.subsubtitle
{
    font-size: 33px;

    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: var(--light2-text-color);
}

/*
Icons
*/
button > i
{
    margin-right: 2px;
}

.chord-btn
{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
}

#settings_btn 
{
    color: var(--primary-color);
    font-size: 35px;
    cursor: pointer;
}

#settings_btn:hover
{
    color: var(--primary-hover-color);
}

#settings_btn:active
{
    color: var(--primary-active-color);
}

/*
Keyboard
*/
.keyboard
{
    height: 15vw;
    display: -webkit-box;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.key 
{
    position: relative;
}

.key-text
{
    /* Place key note names to the bottom of the key */
    position: absolute;
    bottom: 0;
    left: 15%;
    color: #424242;
    background-color: #00000000;
    font-size: 14px;
}

.black > .key-text
{
    color: #ebebeb;
}

.highlighted-key
{
    background-color: var(--primary-color) !important;
}

.highlighted-key:hover
{
    background-color: var(--primary-hover-color) !important;
}

.highlighted-key:active
{
    background-color: var(--primary-active-color) !important;
}

.black.highlighted-key
{
    background-color: var(--primary-dark-color) !important;
}

.black.highlighted-key:hover
{
    background-color: var(--primary-dark-hover-color) !important;
}

.black.highlighted-key:active
{
    background-color: var(--primary-dark-active-color) !important;
}

.hidden
{
    display: none;
}

.keyboard .key
{
    float: left;
    position: relative;
}

.keyboard .white
{
    height: 14.4vw;
    width: 3.8095238095vw;
    z-index: 1;
    border-top: 0.12vw solid rgb(224, 224, 224);
    border-bottom: 0.12vw solid rgb(224, 224, 224);
    border-left: 0.12vw solid rgb(224, 224, 224);
    background-color: var(--white-key-color);
}

.keyboard .white:hover
{
    background-color: var(--white-key-hover-color);
}

.keyboard .white:active
{
    background-color: var(--white-key-active-color);
}

.keyboard .black
{
    top: -2.75vw;
    height: 8.92vw;
    width: 2.0952380952vw;
    z-index: 2;
    border: 0.12vw solid var(--black-key-color);
    background-color: var(--black-key-color);
}

.keyboard .black:hover
{
    background-color: var(--black-key-hover-color);
}

.keyboard .black:active
{
    background-color: var(--black-key-active-color);
}

.a, .b, .d, .e, .g, .black
{
    margin: 0 0 0 -1.1676190476vw;
    /*margin: 0 0 0 -0.75vw;*/
}

.keyboard > .note:last-child
{
    border-right: 0.12vw solid #AAAAAA;
}

#current_chord_progression_pattern_input
{
    font-weight: bold;
    color: #070707;
}

/* jQuery autocomplete list */
.ui-autocomplete
{
    font-size: 22px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #505050;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

#key-char-box
{
    /* Hide by default */
    display: none;
}

#metronome-box,
#chords-box,
#key-box,
#key-char-box
{
    padding: 30px;
}

#chord_functions_img
{
    height: 22vw;
}

#scale_notes_string 
{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

@media screen and (max-width: 1000px)
{
    .key-text
    {
        left: 0% !important;
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1000px)
{
    html
    {
        padding: 1% 5% 1% 5% !important;
    }

    #chord_functions_img
    {
        height: 33vw !important;
    }
    
    .key-text
    {
        left: 0% !important;
        font-size: 11px !important;
    }
}

@media screen and (max-width: 500px)
{
    html
    {
        padding: 0% 0% 0% 0% !important;
    }

    #chord_functions_img
    {
        height: 34vw !important;
    }
    
    .key-text
    {
        left: 0% !important;
        font-size: 5px !important;
    }
}
