/**
Palette URL: http://paletton.com/#uid=51T0u0ko5seeDD+jNv7s1nZv1j5
*/
:root
{
    --bg-color: #ffffff;
    --box-bg-color: #ffffff;

    --text-color: #E9E9EA;
    --light-text-color: #424242;
    --light2-text-color: #5f5f5f;

    --highlighted-key-color: #e03131;

    --white-key-color: #fdfdfd;
    --white-key-hover-color: #f0f0f0;
    --white-key-active-color: #d0d0d0;

    --black-key-color: #222222;
    --black-key-hover-color: #181818;
    --black-key-active-color: #020202;
}

html
{
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    color: var(--text-color);
    padding: 2% 20% 2% 20%;

    /*
    background: url('');
    background-repeat: no-repeat;
    background-size: cover;
    */
}   

div 
{
    background-color: var(--bg-color);
}

footer
{
    color: var(--light-text-color);
    padding: 10px;
}

/*
Override bootstrap defaults
*/
.btn
{
    font-weight: bold;
    border-radius: 0%;
}

.subtitle
{
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: var(--light-text-color);
    border-bottom: 2px dotted var(--light-text-color);
}

.subsubtitle
{
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: var(--light2-text-color);
}

/* Keyboard */
.keyboard
{
    height: 15vw;
    display: -webkit-box;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.highlighted-key
{
    background-color: #e03131 !important;
}

.hidden
{
    display: none;
}

.keyboard .key
{
    float: left;
    position: relative;
}

.keyboard .white
{
    height: 14.4vw;
    width: 3.8095238095vw;
    z-index: 1;
    border-top: 0.12vw solid rgb(224, 224, 224);
    border-bottom: 0.12vw solid rgb(224, 224, 224);
    border-left: 0.12vw solid rgb(224, 224, 224);
    background-color: var(--white-key-color);
}

.keyboard .white:hover
{
    background-color: var(--white-key-hover-color);
}

.keyboard .white:active
{
    background-color: var(--white-key-active-color);
}

.keyboard .black
{
    top: -2.75vw;
    height: 8.92vw;
    width: 2.0952380952vw;
    z-index: 2;
    border: 0.12vw solid var(--black-key-color);
    background-color: var(--black-key-color);
}

.keyboard .black:hover
{
    background-color: var(--black-key-hover-color);
}

.keyboard .black:active
{
    background-color: var(--black-key-active-color);
}

.a, .b, .d, .e, .g, .black
{
    margin: 0 0 0 -1.1676190476vw;
}

.keyboard > .note:last-child
{
    border-right: 0.12vw solid #AAAAAA;
}

#metronome-box,
#chords-box
{
    padding: 30px;
}

#key-box 
{
    position: absolute;
    z-index: 9;
    background-color: var(--box-bg-color);
    border: 0.5px solid #d3d3d3;
    text-align: center;
    width: 750px;
    height: 425px;
    box-shadow: 0px 0px 10px #242424;
}

@media screen and (max-width: 1000px)
{
    html
    {
        padding: 1% 10% 1% 10% !important;
    }
}

@media screen and (max-width: 500px)
{
    html
    {
        padding: 0% 0% 0% 0% !important;
    }
}
